[project]
dependencies = [
    "qtpy>=2.4.3",
]
description = "A declarative UI framework for Qt in Python"
name = "qtpie"
readme = "README.md"
requires-python = ">=3.12"
version = "0.1.0"

[dependency-groups]
dev = [
    "pyside6>=6.9.0",
]
