[project]
dependencies = [
  "qtpy>=2.4.3",
]
description = "A declarative UI framework for Qt in Python"
name = "qtpie"
readme = "README.md"
requires-python = ">=3.12"
version = "0.1.0"

[dependency-groups]
dev = [
  "assertpy>=1.1",
  "poethepoet>=0.34.0",
  "pyside6>=6.9.0",
  "pytest>=8.3.5",
  "pytest-qt>=4.4.0",
  "pytest-sugar>=1.0.0",
]

[tool.pyright]
exclude = ["**/__pycache__", "**/.venv", "**/venv", "**/.mypy_cache"]
pythonVersion = "3.13"
reportCallInDefaultInitializer = true
reportImplicitOverride = true
reportImplicitStringConcatenation = true
reportImportCycles = true
reportMissingSuperCall = false
reportMissingTypeStubs = false
reportPropertyTypeMismatch = true
reportShadowedImports = true
reportUninitializedInstanceVariable = true
reportUnknownMemberType = false
reportUnnecessaryTypeIgnoreComment = true
reportUnusedCallResult = false
strictDictionaryInference = true
strictListInference = true
strictSetInference = true
typeCheckingMode = "strict"

[tool.ruff]
line-length = 180

[tool.setuptools]
packages = ["qtpie"]
