@import "../_shared/_shared.scss";

/* Example styles below just to show some of the app's main identifiers */

#RequestWidget QWidget {
  color: red;
}

#RequestWidget #request_editor QWidget {
  color: purple;
}

#RequestWidget #response_viewer QWidget {
  color: green;
}
