// HTTP Method Badges
.method-badge {
  padding: 0.15em 0.46em;
  border-radius: $radius-lg;
  font-size: $font-size-tiny;
  font-weight: bold;
  max-width: 44px * $scale;
  min-width: 44px * $scale;
  max-height: 18px * $scale;
  margin-right: 0.46em;
  qproperty-alignment: AlignCenter;
}

.method-GET {
  //   background-color: $method-get-bg;
  color: $method-get;
}

.method-POST {
  //   background-color: $method-post-bg;
  color: $method-post;
}

.method-PUT {
  //   background-color: $method-put-bg;
  color: $method-put;
}

.method-PATCH {
  //   background-color: $method-patch-bg;
  color: $method-patch;
}

.method-DELETE {
  //   background-color: $method-delete-bg;
  color: $method-delete;
}

.method-OPTIONS {
  //   background-color: $method-options-bg;
  color: $method-options;
}

.method-HEAD {
  //   background-color: $method-head-bg;
  color: $method-head;
}

// Fallback for unknown methods or None
.method-None {
  background-color: transparent;
  color: $text-muted;
}
